.header {
  /* width: 100%; */
  background: #e3f2fd;
  /* padding: 0 10%; */
}

.text{
  padding:auto;
}

.nav{
  text-decoration: none;
}


.nav_black {
  color: black;
  text-decoration: none;
}

.MuiContainer-root {
  width: 100vw;
  padding-left: 0;
  padding-right: 0;
  background-color: black;
}

/* .header a:hover,
.header a:active,
.header a.active {
  color: #95bcf0;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid #95bcf0;
} */